.container-contact100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  .container-contact100 h2{
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
    color: #58595a;
  }

.wrap-contact100 {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 25px 55px 90px 55px;
  }

.contact100-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.container-contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
  width: 100%;
}

.cancel-button {
  width: 48%;
}

.container-images {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: auto;
  }
  
  .preview-upload {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
    width: 30%;
    height: 100%;
  }
  
  .preview-upload > img {
    width: 100%;
    /* height: calc(100% - 10vh); */
    height: 100%;
    object-fit: cover; 
    transition: .5s;
  }
  
  .preview-upload > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
  }
  
  .preview-upload:hover { flex: 1 1 50%; }
  .preview-upload:hover {
    width: 50%;
    height: 100%;
  }

  .state-image-container{
    align-self: center;
    margin:40px;
  }

  .state-image{
    max-width: 250px;
    border-radius: 10px;
  }

  .state-form{
    display: flex;
  }

  .add-button{
    background-color: #f48840;
    padding: 10px;
    border-radius: 50%;
    border-style: none;
    margin-bottom: 10px;
    width: 100px;
  }

  .add-button:hover{
    color: white;
  }

  .location-fields{
    padding-left: 5px;
  }

  .contact100-form .location-panel-container {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
  }

  .location-panel-container{
    display: flex;
    flex-direction: column;
  }

  .table-panel{
    width: 100%;
    border-collapse: initial;
    margin: 10px 10px 30px 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 25%);
  }

  .table-panel td, .table-panel th {
    padding: 8px;
  }

  .table-panel th {
    padding-bottom: 8px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }

  .table-panel thead tr:first-child th{
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 8px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }

  .table-panel tr {
    padding-left: 5px;
  }

  .table-panel tr:nth-child(even){background-color: #f2f2f2;}

  .table-panel td:hover {background-color: #ddd; cursor: pointer;}


@media (max-width: 576px) {
  .contact100-form {
    flex-direction: column;
  }

  .state-form{
    flex-direction: column;
  }
}  

@media (max-width: 1000px) {
  .state-form{
    flex-direction: column;
  }
}