.container-contact100 {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  .container-contact100 h2{
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
    color: #58595a;
    margin-bottom: 40px;
  }

.wrap-contact100 {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    /* padding: 0px 55px 90px 55px; */
    padding: 0 5% 20px 5%;
  }

  .steps {
    width: 80%;
    margin: auto auto;
  }

  .steps > ul {
    list-style: none;
    padding-left: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7b7f89), to(#7b7f89));
    background-image: linear-gradient(#78290f, #78290f);
    background-size: calc(100% - 50px) 4px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .step-active {
    background-image:linear-gradient(#15616d, #15616d);
  }

  .step-passed {
    background-image:linear-gradient(#ff7d00, #ff7d00);
  }

  .number{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #7b7f89;
    text-align: center;
    line-height: 50px;
    color: #fff;
  }

.contact100-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.container-contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
  width: 100%;
}

.cancel-button {
  width: 48%;
}

.container-images {
    display: flex;
    width: 100%;
    padding: 0 2% 4% 2%;
    box-sizing: border-box;
    height: auto;
  }
  
  .preview-upload {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
    width: 30%;
    height: 100%;
  }
  
  .preview-upload > img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: .5s;
  }
  
  .preview-upload > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
  }
  
  .preview-upload:hover { flex: 1 1 50%; }
  .preview-upload:hover {
    width: 50%;
    height: 100%;
  }

  .state-image-container{
    align-self: center;
    /* margin:40px; */
    width: 95%;
  }

  .state-image{
    /* max-width: 250px; */
    border-radius: 10px;
  }

  .state-form{
    display: flex;
  }

  .add-button{
    max-width: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .add-button img {
    width: 100%;
    background: transparent;
  }

  .add-button .plus-icon {
    position: absolute;
    margin-left: -35px;
    margin-top: 15px;
  }

  .add-button:hover{
    color: white;
  }

  .location-fields{
    width: 90%;
    margin-right: 15px;
  }

  .contact100-form .location-panel-container {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    margin-bottom: 30px;
  }

  .location-panel-container{
    display: flex;
    flex-direction: column;
  }

  .table-panel{
    width: 100%;
    border-collapse: initial;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 25%);
  }

  .table-panel td, .table-panel th {
    padding: 8px;
  }

  .table-panel th {
    padding-bottom: 8px;
    text-align: center;
    background-color: #15616D;
    color: white;
  }

  .table-panel thead tr:first-child th{
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 8px;
    text-align: center;
    background-color: #15616D;
    color: white;
  }

  .table-panel tr {
    padding-left: 5px;
  }

  .table-panel tr:nth-child(even){background-color: #f2f2f2;}

  .table-panel td:hover {background-color: #ddd; cursor: pointer;}

  .locations-data {
    display: flex;
    flex-direction: row;
    flex: 2;
    justify-content: space-between;
  }

  .google-map-container{
    width: 90%;
  }

  p.page-description{
    text-align: center;
    font-weight: bolder;
    margin-bottom: 20px;
    font-size: 20px;
    color: #001524;
}



@media (max-width: 576px) {
  .contact100-form {
    flex-direction: column;
  }

  .state-image-container{
    width: 50%;
  }

  .state-form{
    flex-direction: column;
  }
  
}  

@media (max-width: 1000px) {
  .state-image-container{
    width: 50%;
    display: none;
  }

  .state-form{
    flex-direction: column;
  }
}