* {margin: 0; padding: 0;}

body {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  margin: 0;
  font-family:'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


button:focus{
	outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
